<div>
  <h3>Что это?</h3>

  <p>Сайт предназначен для помощи в формировании эволюционной уверенности(ЭУ) и долгосрочного Личностного развития. Используется технология Магистральных Направлений, описанная Бодхи тут: <a href="http://bodhi.name/selekciya-privlekatelnyx-sostoyanij/mn-texnologiya/">ссылка</a>.</p>

  <p>Очень вкратце про технологию: Необходимо регулярно совершать минимальные усилия для развития по всем магистральным направлениям Личностного развития. По мере такого развития формируется общая уверенность о личностном развитии - эволюционная уверенность, в противоположность типичной уверенности о старении и деградации. Эта уверенность, в сочетании с накапливающимися результатами развития, приводит к повышению энергичности, замедлению старения, и даже к омоложению. И это только начало! :) <a href="http://bodhi.name/selekciya-privlekatelnyx-sostoyanij/mn-texnologiya/#10-08">цапля</a></p>

  <p>Магистральные направления(МН), например "развитие интеллекта", разветвляются на тактические направления(ТН), например "изучение языков" и "изучение наук", которые, в свою очередь, разветвляются на конкретные направления(КН), например "английский язык" и "японский".  Все это вместе называется Патина. Для поддержания и развития по какому-либо МН, достаточно выполнять любое из КН входящих в его состав.</p>
  <p>Какое-то количество совершенных усилий(минут, повторений, подходов) по КН считается фрагментом, количество усилий на фрагмент считается исходя из степени влияния на МН, например можно считать фрагментом час быстрой ходьбы, или 20 минут бега.</p>

  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_example.png" class="img-responsive" alt="sample"></a></p>

  <a href="/how_to">Как пользоваться?</a>
</div>