<div>
  <h3>What is this?</h3>
  <p>The site is designed to assist in the formation of evolutionary certainty (EC) and long-term Personality development. The technology of Main Directions was described by Bodhi here: <a href="http://bodhi.name/selekciya-privlekatelnyx-sostoyanij/mn-texnologiya/">link</a>.</p>

  <p>In short: It is necessary to do a minimal, but regular efforts for development in all main directions of Personality development. In return, the evolutionary certainty is formed, the certainty of Personality development, as opposed to common certainty of aging and degradation. As result, this certainty, together with cumulative effect of development, leads to raise of energy level, deceleration of aging and even rejuvenation. And this is just the beginning! :) <a href="http://bodhi.name/selekciya-privlekatelnyx-sostoyanij/mn-texnologiya/#10-08">Tapeco</a></p>

  <p>Main directions(MD), e.g. "Intellect", divided into tactical directions(ТН), e.g. "Languages learning" and "science", which, in turn, divided into  specific directions(SD), e.g. "russian language" and "japanese".  All this in complex is named the Spectrum. It is enough to perform in any of SD, belonging to MD, to support this MD.</p>
  <p>Some amount of efforts(minutes or reps) in SD is named fragment, amount of efforts for a fragment, is calculated based on the impact it creates to the MD development, e.g. one hour of fast walking, or 20 minutes of running.</p>

  <p>This site is a list of MD, TD and SD. The list of MD on the left, related lists of TD and SD in the middle. Lists can be edited at any time, you can also move items and paint MD.</p>
  <p>All SD have a counter of fragments. You can add one fragment with the + button, or set any amount (and fractional) if you click on the number left to the + button.</p>
  <p>Each added fragment counts for the current day(or past, if it selected). On the right is shown a history of added fragmens by last days.</p>
  <p>It is recommended, to do at least one fragment in three days, for each of MD. Each MD has an indicator of activeness, which is filled by fragments addition, and gradually lowers by a three days without fragments.</p>

  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_example.png" class="img-responsive" alt="sample"></a></p>

  <h4> Unobvious features:) </h4>
  <ul>
    <li> for editing, you can use the ESC and ENTER </li>
    <li> when adding a fractional fragment, you can write only 03, and will be added 0.3 </li>
    <li> You can print patina and hang it on the wall, or save it to a pdf file (print file) and show to friends </li>
  </ul>
</div>