<div>
  <h3>Как пользоваться?</h3>

  <p>Сайт представляет из себя списки  магистральных, тактических и конкретных направлений. Списки можно редактировать в любой момент. Можно использовать клавиши ESC и ENTER для сохранения/отмены.</p>
  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_explain_lists1.png" class="img-responsive" alt="sample"><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_explain_lists2.png" class="img-responsive" alt="sample"></a></p><hr />

  <p>У всех КН есть счетчик фрагментов. При добавлении дробного фрагмента можно написать только 03, и добавится 0.3 </p>
  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_explain_fragments.png" class="img-responsive" alt="sample"></a></p><hr />

  <p>Каждый добавленный фрагмент засчитывается в текущий день(либо прошлый, если он выбран). Соответсвенно сохраняется статистика выполнения фрагментов по направлениям за каждый день.</p>
  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_explain_days.png" class="img-responsive" alt="sample"></a></p><hr />

  <p>Справа - диаграммы для наглядности. Реактор примерно показывает насколько поддержаны направления, чтобы поддерживать развитие нужно чтобы все секции реактора были активны. Если видишь, что секция почти пустая, то пора бы что-то поделать в этом направлении, но не обязательно! Активность рассчитывается исходя из количества МН и заданного объема фрагов в день.</p>
  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_explain_charts.png" class="img-responsive" alt="sample"></a></p><hr />

  <p>По созданным спискам можно сгенерировать наглядную патину, распечатать из браузера и повесить на сену, или сохранить в pdf файл(печать в файл) и показывать приятелям.</p>
  <p><img src="https://dl.dropboxusercontent.com/u/92903914/evopatina_patina.png" class="img-responsive" alt="sample"></a></p>
</div>