.sessions {
  .login_form {
    .form-group {
      margin-right: 10px;
    }
  }

  .description_block {
    margin-top: 20px;
  }

}

.registrations, .pages {
  .registration_form {
    .form-group {
      margin-right: 10px;
    }
  }
}